*.iml
.gradle
/local.properties
/.idea/
/.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.DS_STORE
*.log
.idea/
*.apk
chap-secrets
routesUp
redir.sh
psw_enc.sh
ipsec.sh
node_modules
envs.sh
example.json
package-lock.json
key.pem
cert.pem
l2tp-js/radiusclient.conf
l2tp-js/radsec.sh
l2tp-js/radsecproxy.conf
l2tp-js/redir.sh
l2tp-js/*_routes.sh
l2tp-js/servers

